@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
/*font-family: 'Open Sans', sans-serif;*/

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/myfonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/myfonts/proximanova-semibold.otf')  format('opentype'),
	     url('../fonts/myfonts/proximanova-semibold.woff') format('woff'), url('../fonts/myfonts/proximanova-semibold.ttf')  format('truetype'), url('../fonts/myfonts/proximanova-semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-family: 'Open Sans', sans-serif;
$font-color: #fff;
$bodyFontSize:16px;
$bodyWeight:400;

$font:'Open Sans', sans-serif;
$fontColor:#202020;
$lighFont:300;
$mediumFont:400;
$regulerFont:500;
$semiboldFont:600;
$boldFont:700;
$red: #f16847;
$navBack: #202020;
$whiteColor: #fff;
$blackColor: #000;
$hoverBgColor: #fff;
